karpenter:
  # tolerations:
  # - key: "type"
  #   operator: "Equal"
  #   value: "system"
  #   effect: "NoSchedule"
  # nodeSelector:
  #   type: system
  controller:
    resources:
      requests:
        cpu: 1
        memory: 1Gi
      limits:
        cpu: 1
        memory: 1Gi

  replicas: 1

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: karpenter.sh/nodepool
                operator: DoesNotExist

  # -- Karpenter IAM role to manage cluster nodes
  serviceAccount:
    annotations:
      # Please align the role arn with the one created by karpenter terraform module https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest/submodules/karpenter
      # More details: https://docs.kuberocketci.io/docs/operator-guide/kubernetes-cluster-scaling/namespace-and-cluster-autoscaling#karpenter
      eks.amazonaws.com/role-arn: arn:aws:iam::0123456789:role/KarpenterControllerRole-<ClusterName>

  # -- EKS cluster name
  settings:
    clusterName: cluster_name   # Ensure to replace with the actual cluster name
