{{- if .Values.eso.enabled }}
{{- $secretName := .Values.eso.secretName }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: keycloak-client-grafana-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: {{ .Values.eso.secretStoreName }}
  data:
  - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: {{ $secretName }}
      property: keycloak-client-grafana-secret.clientSecret
{{- end }}
