{{- if and (index .Values "capsule-tenant") (index .Values "capsule-tenant" "enable") -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.destinationServer}}-capsule-tenant
  namespace: {{ .Values.argoNamespace | default "argocd" }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argoProject | default "default" }}
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/capsule-tenant
    targetRevision: {{ .Values.targetRevision }}
  destination:
    name: {{ .Values.destinationServer | default "in-cluster" }}
    namespace: capsule-system
  syncPolicy:
    automated:
      prune: true
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}