{{- if and (index .Values "keycloak-postgresql") (index .Values "keycloak-postgresql" "enable") -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
  name: keycloak-postgresql
  namespace: {{ .Values.argoNamespace | default "argocd" }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argoProject | default "default" }}
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/keycloak-postgresql
    targetRevision: {{ .Values.targetRevision }}
    helm:
      values: |
        postgresql:
        {{- toYaml (index .Values "keycloak-postgresql") | nindent 10 }}
  destination:
    server: {{ .Values.destinationServer | default "https://kubernetes.default.svc" }}
    namespace: security
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace={{ (index .Values "keycloak-postgresql" "createNamespace") }}
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}
