vault:
  vaultContainer:
    image: hashicorp/vault
    tag: 1.15.2
  bankVaultsContainer:
    image: ghcr.io/bank-vaults/bank-vaults
    tag: v1.32.0

  ingress:
    host: "vault.core.kuberocketci.io"
  # In-cluster congif:
  replicaCount: 1
  roles:
    - name: "krci-reader"
      serviceAccount: "externalsecrets-vault"
      namespace: "krci"
      extraPolicies: []
      path: "secret/data/krci"

    - name: "nexus"
      serviceAccount: "nexus"
      namespace: "nexus"
      extraPolicies: []
      path: "secret/data/addons/nexus"

    - name: "sonar"
      serviceAccount: "sonar"
      namespace: "sonar"
      extraPolicies: []
      path: "secret/data/addons/sonar"


  # Remote clusters config:
  remoteCluster: []
    # - name: "dev-cluster"
    #   host: "https://example.com"
    #   # Name for secret with Token and
    #   secretName: "dev-secret"
    #   cert: |
    #     -----BEGIN CERTIFICATE-----
    #     <cluster_ca_cert>
    #     -----END CERTIFICATE-----
    #   roles:
    #     - name: "vault-reader"
    #       serviceAccount: "externalsecrets-vault"
    #       namespace: "vault"
    #       extraPolicies: []
    #       path: "secret/data/addons/vault"

  # Block for custom policies
  extraPolicies: []
    # - name: "custom-policy"
    #   rules: |
    #     path "my/app/path*" {
    #       capabilities = ["read", "list"]
    #     }
    #     path "another/app/path*" {
    #       capabilities = ["read", "list"]
    #     }

  extraSecrets:
    - path: secret
      type: kv
      description: "General secrets for krci-project and addons-project"
      options:
        version: 2

  oidc:
    enabled: false
    issuer_url: "https://keycloak.example.com/realms/<realm_name>"
    discovery_url: "https://keycloak.example.com/realms/<realm_name>"
    client_id: "vault"
    clientSecret: "keycloak-client-vault-secret"  # Secret name
    groups:
      - name: "administrator"
        policies: ["vault-admin"]
      - name: "developer"
        policies: ["vault-ro"]

  # Vault database connection configuration
  database:
    # Name of the secret with configuration
    secretName: vault-pguser-vault
    # Block for configuring secret's key
    hostKey: host
    portKey: port
    userKey: user
    passwordKey: password
    dbNameKey: dbname

  # Enable PGO for creating postgres database
  pgo:
    enabled: true

vault-operator:
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  # -- Number of replicas (pods) to launch.
  replicaCount: 1

  pdb:
    # -- Create pod disruption budget if replicaCount > 1.
    create: true
    # -- Min available for PDB.
    minAvailable: 1
    # -- Max unavailable for PDB.
    # maxUnavailable: 1

  image:
    # -- Name of the image repository to pull the container image from.
    repository: ghcr.io/bank-vaults/vault-operator

    # -- [Image pull policy](https://kubernetes.io/docs/concepts/containers/images/#updating-images) for updating already existing images on a node.
    pullPolicy: IfNotPresent

    # -- Image tag override for the default value (chart appVersion).
    tag: ""

    # -- Reference to one or more secrets to be used when [pulling images](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret) (from private registries).
    # (`global.imagePullSecrets` is also supported)
    imagePullSecrets: []

    # -- Bank-Vaults image repository
    # **Deprecated:** use `bankVaults.image.repository` instead.
    bankVaultsRepository: ""

    # -- Bank-Vaults image tag
    # **Deprecated:** use `bankVaults.image.tag` instead.
    bankVaultsTag: ""

  bankVaults:
    image:
      # -- Bank-Vaults image repository.
      repository: ghcr.io/bank-vaults/bank-vaults

      # -- Bank-Vaults image tag (pinned to supported Bank-Vaults version).
      tag: "v1.32.0"

  # -- A name in place of the chart name for `app:` labels.
  nameOverride: ""

  # -- A name to substitute for the full names of resources.
  fullnameOverride: ""

  # -- The namespace where the operator watches for vault CR objects.
  # If not defined all namespaces are watched.
  watchNamespace: "vault"
  syncPeriod: "5m"
