karpenter:
  # Set the same as Karpenter configuration
  tolerations: []
  # - key: "type"
  #   operator: "Equal"
  #   value: "system"
  #   effect: "NoSchedule"
  nodeSelector: {}
  #   type: system

# -- AMI that used by nodes in EKS cluster
amiID: ami-XXXXXXXXXXXXXXXXX

# -- EKS cluster name, must be the same as in Karpenter configuration
clusterName: "cluster-name"

instanceType:
  category: ["m"]
  family: ["m7i"]
  size: ["xlarge"]
  type: ["on-demand"]
